<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="/canvasjs.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var dps_r = []; // dataPoints
            var dps_p = [];
            var dps_y = [];

            var chart = new CanvasJS.Chart("chartContainer",{
                title :{
                    text: "Live Random Data"
                },
                axisY:{
                    minimum: -180,
                    maximum:  180,
                },          
                data: [{
                    showInLegend: true,
                    name: "Roll",
                    color: "#20B2AA",
                    type: "line",
                    dataPoints: dps_r 
                },
                {
                    showInLegend: true,
                    name: "Pitch",
                    color: "#F08080",
                    type: "line",
                    dataPoints: dps_p
                },
                {
                    showInLegend: true,
                    name: "yaw",
                    type: "line",
                    dataPoints: dps_y
                }
                ]
            });

            var xVal = 0;
            var yVal = 100;
            var dataLength = 500; // number of dataPoints visible at any point

            var initChart = function () {

                for (var j = 0; j < dataLength; j++) {   
                    yVal = 0;
                    dps_r.push({
                        x: j,
                        y: null
                    });
                    dps_p.push({
                        x: j,
                        y: null
                    });
                    dps_y.push({
                        x: j,
                        y: null
                    });
                };

                chart.render(); 
            };

            var updateChart = function (r, p, y) {

                xVal++;
                dps_r.push({
                    x: xVal,
                    y: r
                });

                dps_p.push({
                    x: xVal,
                    y: p
                });

                dps_y.push({
                    x: xVal,
                    y: y
                });

                dps_r.shift();
                dps_p.shift();  
                dps_y.shift();                
                
                chart.render();     
            };

            initChart();

            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'plot_page'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                if (typeof msg.data.r === 'undefined' &&
                    typeof msg.data.p === 'undefined' &&
                    typeof msg.data.y === 'undefined') {
                    console.log('name property is missing');
                } else {
                    updateChart(parseInt(msg.data.r),
                                parseInt(msg.data.p), 
                                parseInt(msg.data.y) );
                }
                console.log("Server data: " + msg.data);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });

            $('form#tx_rpy').submit(function(event) {
                socket.emit('my_event', {data: 'toggle_tx'});
                return false;
            });

            $('form#tx_rate').submit(function(event) {
                socket.emit('my_event', {data: 'rate_tx', rate: $('#tx_rate_data').val()});
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="tx_rate" method="POST" action='#'>
        <input type="text" name="tx_rate_data" id="tx_rate_data" placeholder="Message">
        <input type="submit" value="rate">
    </form>
    <form id="tx_rpy" method="POST" action="#">
        <input type="submit" value="tx_rpy">
    </form>
    <div id="chartContainer" style="height: 300; width: 50%;"></div>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
