<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="/canvasjs.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var dps =   [
                        {label: "Altitude", y: -1 },
                        {label: "Roll", y: -1 },        
                        {label: "Pitch", y: -1 }        
                        ];

            var chart = new CanvasJS.Chart("chartContainer",{
                title :{
                    text: "Live Random Data"
                },
                axisY:{
                    minimum: -1024,
                    maximum:  1024,
                },          
                data: [{
                    showInLegend: true,
                    type: "column",
                    dataPoints: dps

                }
                ]
            });

            var initChart = function () {
                chart.render(); 
            };

            var updateChart = function (a, r, p) {

                dps[0].y = a ;
                dps[1].y = r ;
                dps[2].y = p ;

                chart.render();     
            };

            initChart();

            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'joy_page'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                if (typeof msg.data.joy_a === 'number' &&
                    typeof msg.data.joy_x === 'number' &&
                    typeof msg.data.joy_y === 'number') {
                    
                    updateChart(parseFloat(msg.data.joy_a),
                                parseFloat(msg.data.joy_x), 
                                parseFloat(msg.data.joy_y) );
                } else {
                    
                    console.log('name property is missing');
                }

                console.log("Server data: " + msg.data);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                $('#reversed').checked 
                socket.emit('my_event', {data: 'joy_config',
                                         min_alt: $('#alt_min').val(),
                                         max_alt: $('#alt_max').val(),
                                         rev_alt: $('#alt_rev').checked });
                return false;
            });

            $('form#joy_alt').submit(function(event) {
                socket.emit('my_event', {data: 'config_joy_req'});
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" id="alt_min" placeholder="Min Alt">
        <input type="text" id="alt_max" placeholder="Max Alt">
        Reversed <input type="checkbox" id="alt_rev" value="Bike">
        <input type="submit" value="Set config">
    </form>
    <form id="joy_alt" method="POST" action="#">
        <input type="submit" value="Req config">
    </form>
    <div id="chartContainer" style="height: 300; width: 50%;"></div>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
